*{
	margin:0;
	padding:0;}
body{}
.uyelik{
	width:800px;
	height:800px;
	margin:0 auto;	
	margin-top:100px;
	background-color:#cecece;}
.buton{
	width:150px;
	height:20px;
	margin:auto;}
.buton a{
	text-align:center;
	text-decoration:none;}
fieldset {
    display: block;
    margin-left: 4px;
    margin-right: 3px;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: auto;
    border: 2px groove ( internal value );}
.ad{
	margin-left:60px;}
.soy{
	margin-left:40px;
	margin-top:5px;}
.dogum{
	margin-left:1px;
	margin-top:5px;}
.tel{
	margin-left:59px;
	margin-top:5px;}
.butonn{
	margin-left:88px;
	margin-top:5px;}
.kullanici{
	
	margin-top:5px;}
.sifre{
	margin-left:48px;
	margin-top:5px;}
